/*전체 레이아웃 틀*/
body {
    min-width: 320px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}

.container {
    height: 100vh;
    max-width: 360px;
    background-color: #ECECF2;
    margin: 0 auto;
    padding: 0 16px;
}

#top {
    height: 0px;
    padding-top: 30px;
    width: 100%;
    /*background-color: skyblue;*/
}

#header {
    padding-top: 50px;
    height: 70px;
    /*background-color: #888999;*/

}

#body {
    height: max-content;
    width: 100%;
    padding-top: 30px;
    /*background-color: #777777;*/
}

#footer {
    padding: 20px;
}

/*top*/

.key-back {
    font-size: 17px;
}

.key-back a {
    color: rgba(0, 0, 0, 0.5)
}

.key-back a i {
    color: rgba(0, 0, 0, 0.5)
}


/*header*/
.greeting {
}

.greeting h1 {
    font-size: 34px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);

}

.greeting h1 span {
    color: rgba(0, 0, 0, 0.9);
}

.greeting h3 {
    font-size: 34px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    margin-top: -5px;
    color: rgba(0, 0, 0, 0.5);
}

/*body*/
#body {

}

.diaryBox {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.diaryBox i {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    top: -10px;
    right: -10px;
    color: red;
}

.diaryBox li {
}

.diaryBox li .faceImg {
}

.diaryBox li .faceImg img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.diaryBox li .dateSmol {
    font-size: 17px;
    font-weight: 600;
}

.diaryBox li.notImg {
    margin-left: 20px;
}

p.diarySmol {
    font-size: 15px;
    /*display:-webkit-box;*/
    /*-webkit-line-clamp:3;*/
    /*-webkit-box-orient:vertical;*/
    /*width:200px;*/
    /*height:60px;*/
    /*line-height:20px;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/

}

/*fav-music*/
/*music list*/
/*.listOfMusic {*/
/*    position: relative;*/
/*    margin: 0 auto;*/
/*    width: 300px;*/
/*    height: 50px;*/
/*    background: #F7F5F7;*/
/*    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);*/
/*    border-radius: 10px;*/
/*    padding: 12px 14px;*/

/*}*/
.favMusic {
    width: 100%;
    margin:20px 0;
}

hr.end-line {
    width: 100%;
    height: 0;
    border: 0.3px solid #999999;
}
/* .listOfMusic {
    position: relative;
} */

.listOfMusic ul.music-more {
    width: 325px;
    margin-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.listOfMusic ul.music-more li {

}

.listOfMusic ul.music-more li.title {
    font-weight: 600;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.9);
}

.listOfMusic ul.music-more li.artist {
    color: #777777
}

.listOfMusic .album {
    height: 100%;
    width: 80px;
}

.listOfMusic .album img {
    width: 50px;
    height: 50px;
}