/*전체 레이아웃 틀*/
body {
    min-width: 320px;
    min-height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}

.container {
    max-width: 360px;
    background-color: #ECECF2;
    margin: 0 auto;
    padding: 0 16px;
}

#top {
    height: 0px;
    padding-top: 30px;
    width: 100%;
    /*background-color: skyblue;*/
}

#header {
    padding-top: 50px;
    height: 70px;
    /*background-color: #888999;*/

}

#body {
    height: max-content;
    width: 100%;
    padding-top: 30px;
    /*background-color: #777777;*/
}

#footer {
    padding: 20px;
}

/*top*/

.key-back {
    font-size: 17px;
}

.key-back a {
    color: rgba(0, 0, 0, 0.5)
}

.key-back a i {
    color: rgba(0, 0, 0, 0.5)
}


/*header*/
.greeting {
}

.greeting h1 {
    font-size: 34px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

.greeting h1 span {
    color: rgba(0, 0, 0, 0.9);
}

.greeting h3 {
    font-size: 34px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    margin-top: -5px;
    color: rgba(0, 0, 0, 0.5);
}

/*list of mood*/
.listsByMood {

}

.expWhatToDo {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.listsByMood .feelings {
    margin: 30px 50px 0 50px;
    text-align: center;
}

.listsByMood .feelings ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listsByMood .feelings ul.positive {
}

.listsByMood .feelings ul.positive li {
}

.listsByMood .feelings ul.positive li a {
}

.feelText {
    font-size: 17px;
}

.listsByMood .feelings ul.positive li img {
    width: 70px;
    height: 70px;
}

.listsByMood .feelings ul.negative {
    margin-top: 25px;
}

.listsByMood .feelings ul.negative li {
}

.listsByMood .feelings ul.negative li img {
    width: 70px;
    height: 70px;
}

.end-line {
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-style: inset;
    width: 150px;
    height: 0;
}

/*select music*/
.select-music {

}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text] {
    background: #F7F5F7;
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: none;
}

input#fname {
    margin-top: 30px;
    background: #F7F5F7;
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    border: transparent;
    font-size: 17px;
    font-family: 'Noto Sans KR', FontAwesome;
}

input#fname:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

::placeholder {
    font-size: 17px;
}

::placeholder:focus {
    color: transparent;
}

/*music list*/
.listOfMusic {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background: #F7F5F7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 12px 14px;

}

.listOfMusic ul.music-more {
    position: absolute;
    left: 80px;
    top: 10px;
}

.listOfMusic ul.music-more li {
}

.listOfMusic ul.music-more li.title {
    font-weight: 600;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.9);
}

.listOfMusic ul.music-more li.artist {
    color: #777777
}

.listOfMusic .album {
    height: 100%;
    width: 80px;
    position: absolute;
}

.listOfMusic .album img {
    width: 50px;
    height: 50px;
}

/*diary section*/
.diary {

}

.diary .expWhatToDo {
    margin-bottom: 30px;
}

.diarytop {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.diarytop .date {

}

.diarytop .date span {
    font-size: 17px;
    font-weight: 600;
}

.shadow-textarea textarea {
    min-width: 220px;
    min-height: 190px;
    max-width: 220px;
    max-height: 190px;
    padding: 10px;
    background: #D9ADAD;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-size: 17px;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 500;
}

.shadow-textarea textarea.form-control {
    border-radius: 10px;
}

.shadow-textarea textarea:focus {
    outline: none;
    border: none;
}

.diarytop .dontwantbtn {
}

.diarytop .dontwantbtn input {
    width: 117px;
    height: 30px;
    border: none;
    background: #FFFFFF;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;

}

.diarytop .dontwantbtn input:focus {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
    transition: 300ms;
}

.diaryMain {
    margin: 15px 30px;
    display: flex;
    justify-content: space-between;
}

/*.diaryMain .paper{}*/
/*.diaryMain .paper > input[type=text] {*/

/*}*/


/*input#diaryPaper {*/
/*    width: 226px;*/
/*    height: 187px;*/
/*    background: #D9ADAD;*/
/*    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);*/
/*    border-radius: 10px;*/
/*    border: none;*/
/*    font-size: 17px;*/
/*    font-family: 'Noto Sans KR', FontAwesome;*/
/*}*/

/*input#diaryPaper:focus {*/
/*    outline: none;*/
/*}*/

/*.diaryMain .paper > input:focus::-webkit-input-placeholder {*/
/*    color: transparent;*/
/*}*/

/*.diaryMain .paper > input::placeholder {*/
/*    font-size: 17px;*/
/*}*/

/*.diaryMain .paper > input::placeholder:focus {*/
/*    color: transparent;*/
/*}*/

.diaryMain ul.palette {

}

.diaryMain ul li {
    width: 30px;
    height: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.diaryMain ul li.c1 {
    background: #D9ADAD;
}

.diaryMain ul li.c2 {
    background: #89C9B8;
}

.diaryMain ul li.c3 {
    background: #84A9AC;
}

.diaryMain ul li.c4 {
    background: #DDDDDD;
}

/*제출하기 버튼*/
.finalBtn {
    width: 80%;
    margin: 0 auto;
}

.finalBtn form {
    margin-top: 50px;
}

input[type=submit] {
    width: 100%;
    background-color: #95959B;
    font-size: 17px;
    color: white;
    padding: 12px 20px;
    margin: 10px 0 0 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

input[type=submit]:hover {
    background-color: #57575C;

}

input[type=submit]:hover {
}