<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Adore_voy">
    <meta name="description" content="감정을 음악으로 기록하는 기록집 입니다.">
    <meta name="keywords" content="음악, 음악기록, 일기, 다이어리, mood diary, feeling diary, 감정 기록장, 감정 플레이리스트, 감정 음악">
    <title>감정 플레이리스트</title>

    <!--css-->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main_style.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">

    <!--파비콘-->

    <!--웹폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">


    <!--font-family: 'Gothic A1', sans-serif;-->
</head>
<body>
<div class="container">
    <div id="top"></div>
    <!--//top-->

    <header id="header">
        <div class="greeting">
            <h1><span class="userName">이규리</span>님</h1>
            <h3>안녕하세요:)</h3>
        </div>
    </header>
    <!--//header-->

    <section id="body">
        <div class="boxs">
            <a href="record.html">
                <div class="record_day box">
                    <div class="saying">오늘을<br><span>기록하기</span></div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
            </a>
            <a href="check-record.html">
                <div class="acknow_day box">
                    <div class="saying">기록<br><span>확인하기</span></div>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="listsByMood">
            <h3 class="expWhatToDo">오늘 같은 날 들었던 노래는?</h3>
            <div class="feelings">
                <ul class="positive">
                    <li class="satisfy"><a href="musicByEmotion.html"><img src="../static/img/satisfy.png" alt="satisfy face">
                        <div class="satisfy feelText">편안</div></a>
                    </li>
                    <li class="happy"><a href="musicByEmotion.html"><img src="../static/img/smile.png" alt="happy face">
                        <div class="happy feelText">기쁨</div></a>
                    </li>
                    <li class="lovely"><a href="musicByEmotion.html"><img src="../static/img/lovely.png" alt="lovely face">
                        <div class="lovely feelText">설렘</div></a>
                    </li>
                </ul> 
                <ul class="negative">
                    <li class="unsatisfy"><a href="musicByEmotion.html"><img src="../static/img/disappoint.png" alt="disappoint face">
                        <div class="unsatisfy feelText">불안</div></a>
                    </li>
                    <li class="sad"><a href="musicByEmotion.html"><img src="../static/img/sad.png" alt="sad face">
                        <div class="sad feelText">슬픔</div></a>
                    </li>
                    <li class="angry"><a href="musicByEmotion.html"><img src="../static/img/angry.png" alt="angry face">
                        <div class="angry feelText">화남</div></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="end-line">
    </section>
    <!--//body-->

    <footer id="footer"></footer>
    <!--//footer-->

</div>

<!-- 자바스크립트 라이브러리 -->
<script src="../js/jquery.min_1.12.4.js"></script>
<script src="../js/modernizr-custom.js"></script>
<script src="../js/ie-checker.js"></script>
<script src="https://use.fontawesome.com/b17215fc37.js"></script>
</body>
</html>