<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Adore_voy">
    <meta name="description" content="감정을 음악으로 기록하는 기록집 입니다.">
    <meta name="keywords" content="음악, 음악기록, 일기, 다이어리, mood diary, feeling diary, 감정 기록장, 감정 플레이리스트, 감정 음악">
    <title>감정 플레이리스트</title>

    <!--css-->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main_style.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">

    <!--파비콘-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/static/img/favicon-32x32 (2).png">
    <link rel="stylesheet" href="/static/img/favicon (2).ico">
    <!--웹폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">


    <!--font-family: 'Gothic A1', sans-serif;-->
</head>

<body>
    <div class="container">
        <div id="top"></div>
        <!--//top-->

        <header id="header">
            <div class="greeting">
                <!-- <h1><span class="userName"></span>님</h1>
                <h3>안녕하세요:)</h3> -->
            </div>
        </header>
        <!--//header-->

        <section id="body">
            <div class="boxs">
                <div class="box1">
                    <button class="firstBtn" onclick="writing()">
                        <div class="record_day box">
                            <div class="saying">오늘을<br><span>기록하기</span></div>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
                <div class="box2">
                    <button class="secondBtn" onclick="check()">
                        <div class="acknow_day box">
                            <div class="saying">기록<br><span>확인하기</span></div>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
            </div>
            <div class="listsByMood">
                <h3 class="expWhatToDo">오늘 같은 날 들었던 노래는?</h3>
                <div class="feelings">
                    <ul class="positive">
                        <li class="satisfy"><a onclick="satisfy()"><img src="../static/img/satisfy.png"
                                    alt="satisfy face">
                                <div class="satisfy feelText">편안</div>
                            </a>
                        </li>
                        <li class="happy"><a onclick="happy()"><img src="../static/img/smile.png" alt="happy face">
                                <div class="happy feelText">기쁨</div>
                            </a>
                        </li>
                        <li class="lovely"><a onclick="lovely()"><img src="../static/img/lovely.png" alt="lovely face">
                                <div class="lovely feelText">설렘</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="negative">
                        <li class="unsatisfy"><a onclick="unsatisfy()"><img src="../static/img/disappoint.png"
                                    alt="disappoint face">
                                <div class="unsatisfy feelText">불안</div>
                            </a>
                        </li>
                        <li class="sad"><a onclick="sad()"><img src="../static/img/sad.png" alt="sad face">
                                <div class="sad feelText">슬픔</div>
                            </a>
                        </li>
                        <li class="angry"><a onclick="angry()"><img src="../static/img/angry.png" alt="angry face">
                                <div class="angry feelText">화남</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="end-line">
        </section>
        <!--//body-->

        <footer id="footer"></footer>
        <!--//footer-->

    </div>

    <!-- 자바스크립트 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/b17215fc37.js"></script>
    <script>
        $(document).ready(function () {
            // ('#header').empty();
            ShowCookie();

            // let name = window.location.search;
            // let names = name.split('=');
            // nameIn = names[1];
            // let decodeName = decodeURI(nameIn)
            // nameHtml(decodeName);
        })

        function nameHtml(name) {
            let fullHtml = `<header id="header">
        <div class="greeting">
            <h1><span class="userName">${name}</span>님</h1>
            <h3>안녕하세요:)</h3>
        </div></header>`
            $('#top').append(fullHtml);
        }
        function writing() {
            window.location.href = '/record'
        }
        function check() {
            window.location.href = '/checkrecord'
        }

        // 감정에 따른 음악 리스트 링크
        function satisfy() {
            window.location.href = '/satisfylist'
        }
        function happy() {
            window.location.href = '/happylist'
        }
        function lovely() {
            window.location.href = '/lovelylist'
        }
        function unsatisfy() {
            window.location.href = '/unsatisfylist'
        }
        function sad() {
            window.location.href = '/sadlist'
        }
        function angry() {
            window.location.href = '/angrylist'
        }

        //cookie 보여주기
        function ShowCookie() {
            let divCookie = $(".userName");
            let cookieFull = document.cookie;
            let onlyForName = cookieFull.split('=');
            let onlyName = onlyForName[1];
            let afterDecode = decodeURI(onlyName)

            nameHtml(afterDecode);

            // if( document.cookie == null || document.cookie == "" )
            // {
            // 	divCookie.innerHTML = "";
            // 	return;
            // }

            // var listCookie = document.cookie.split( "; " );
            // var strCookie = "";

            // for( var i = 0; i < listCookie.length; ++i )
            // {
            // 	var iPos = listCookie[i].indexOf("=");
            // 	var strName = listCookie[i].substring(0,iPos);
            // 	var strValue = listCookie[i].substring(iPos+1);
            // 	strValue = decodeURIComponent( strValue );
            // 	strCookie += strName + "=" + strValue + "<br>\n";
            // }

            // divCookie.innerHTML = strCookie;
        }


    </script>
</body>

